[user]
	name = non
	email = mail@non117.com
[core]
	editor = emacs
[color]
	ui = true
[alias]
	st = status
	ci = commit -a
	br = branch
	pl = pull
	ps = push
	ch = checkout
	cl = clone
[https]
	proxy = https://10.8.0.1:8123
[http]
	proxy = http://10.8.0.1:8123
[url "https://"]
	insteadOf = git://
[push]
	default = current
