[user]
	name = non
	email = mail@non117.com
[core]
	editor = vim
[color]
	ui = true
[alias]
	st = status
	ci = commit -a
	br = branch
	ch = checkout
[url "https://"]
	insteadOf = git://
[push]
	default = current
[fetch]
  prune = true
